html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Roboto', 'Helvetica-Neue', 'Helvetica', Arail, sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: rgba(54, 54, 54, .98);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FEFEFE;
}

body {
    font-size: 12pt;
}

#canvas {
    width: 100%;
    height: 100%;
}

#logo {
    font-family: 'cocogoose';
    font-size: 80pt;
    letter-spacing: 3px;
    line-height: 70pt;
    vertical-align: middle;
    padding: 20pt 26pt 12pt 26pt;
    border: solid 4px;
    border-radius: 1px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: #FEFEFE;
    color: rgba(64, 64, 64, .9);
    visibility: hidden;
    /*    animation: fade-in .45s infinite;*/
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {}